@font-face {
    font-family: 'amerikaregular';
    src: url('amerika_regular_macroman/AMERIKA_-webfont.eot');
    src: url('amerika_regular_macroman/AMERIKA_-webfont.eot?#iefix') format('embedded-opentype'),
         url('amerika_regular_macroman/AMERIKA_-webfont.woff2') format('woff2'),
         url('amerika_regular_macroman/AMERIKA_-webfont.woff') format('woff'),
         url('amerika_regular_macroman/AMERIKA_-webfont.ttf') format('truetype'),
         url('amerika_regular_macroman/AMERIKA_-webfont.svg#amerikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'amerikaregular', 'Courier New', Courier, monospace, sans-serif; 
    background-color: rgb(220, 170, 120);
}

.page{  
    width: 80%;
    min-width: 350px;
    margin: auto;
}

#titre{
    box-shadow: peru 5px 5px 5px;
    text-align: center;
    border-radius: 10px;
}

details{
    margin: 10px;
    text-align: center;
}

summary{
    padding: 10px;
    width: 30%;
    min-width: 200px;
    height: 30px;
    cursor: pointer;
    background-color: peru;
    box-shadow: 3px 3px 3px orange;
    border-radius: 10px;
}

.imageFlottante{
    float: left;
    width: 25%;
    min-width: 320px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: peru 5px 5px 5px;
}

.stop{
    clear: both; 
}

.description{
    width: 90%;
    min-width: 300px;
    margin: 50px;
    text-align: justify;
    box-shadow: peru 3px 3px 3px;
    padding: 20px;
    border-radius: 10px;
}

table{
    box-shadow: peru 3px 3px 3px;
    border-collapse: collapse;
}

th{
    padding: 5px;
    border: 2px solid black
}

td{
    padding: 5px;
    border: 2px solid black;
}

footer{
    width: 80%;
    min-width: 350px;
    opacity: 0.9;
}

.fin{
    margin: 50px;
}

@media all and (max-device-width : 480px){
    .imageFlottante{
        clear: both;
        margin: 10px;
    }

    .description{
        margin: auto;
    }

    table{
        margin-top: 10px;
    }
}